#toolbar-google-adsense.toggleable.toggled.barsection
  .toggler
    .separator
    %h3.barsection-title!= t('views.toolbar_ads.title')
    =toolbar_toggler
    
  .toggleable-data
    #ad-container
      -#<script type="text/javascript"><!--
      -#google_ad_client = "ca-pub-1533958540786809";
      -#/* Mapa de Transporte Toolbar Mini */
      -#google_ad_slot = "9584950091";
      -#google_ad_width = 234;
      -#google_ad_height = 60;
      -#//-->
      -#</script>
      -#<script type="text/javascript"
      -#src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      -#</script>