#toolbar-google-adsense.barsection
  .separator
  %h3.barsection-title= t('views.toolbar_ads.title')
  #ad-container
    -#<script type="text/javascript"><!--
    -#google_ad_client = "ca-pub-1533958540786809";
    -#/* MapaDeColectivosToolbar */
    -#google_ad_slot = "1317037293";
    -#google_ad_width = 250;
    -#google_ad_height = 250;
    -#//-->
    -#</script>
    -#<script type="text/javascript"
    -#src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    -#</script>