#tooltips.barsection.toggleable.toggled.barsection
  .toggler
    .separator
    %h3.barsection-title Instrucciones
    =toolbar_toggler

  %ul
    - %w{map_click many_clicks remove_checkpoint move_checkpoint invert_checkpoints more_buses close_help}.each do |tooltip|
      %li{id: "tooltip-#{tooltip}"}
        = raw t("views.tooltips.#{tooltip}")