.sprite
    background-image: image-url("sprites.png")
    background-repeat: no-repeat

.sprite-1
    width: 50px
    height: 50px
    background-position: -122px -0px

.sprite-2
    width: 50px
    height: 50px
    background-position: -61px -0px

.sprite-3
    width: 50px
    height: 50px
    background-position: -0px -0px

.sprite-bus-name
    width: 40px
    height: 40px
    background-position: -0px -102px

.sprite-card-dark
    width: 20px
    height: 20px
    background-position: -231px -155px

.sprite-card
    width: 20px
    height: 20px
    background-position: -0px -155px

.sprite-card-reloading
    width: 17px
    height: 25px
    background-position: -181px -194px

.sprite-card-selling
    width: 17px
    height: 25px
    background-position: -153px -194px

.sprite-clock-dark
    width: 20px
    height: 20px
    background-position: -231px -124px

.sprite-clock
    width: 20px
    height: 20px
    background-position: -234px -93px

.sprite-coin-dark
    width: 20px
    height: 20px
    background-position: -234px -62px

.sprite-coin
    width: 20px
    height: 20px
    background-position: -234px -31px

.sprite-direction-current-location
    background-position: #{-240px + $input-height/2 - 8} #{-214px + $input-height/2 - 8}

.sprite-direction-switch
    background-position: #{-240px + $input-height/2 - 8} #{-186px + $input-height/2 - 8}

.sprite-facebook-grey
    width: 34px
    height: 35px
    background-position: -45px -194px

.sprite-facebook
    width: 34px
    height: 35px
    background-position: -0px -194px

.sprite-google-grey
    width: 34px
    height: 35px
    background-position: -186px -148px

.sprite-google
    width: 34px
    height: 35px
    background-position: -141px -148px

.sprite-help
    width: 24px
    height: 28px
    background-position: -90px -194px

.sprite-reference-points
    width: 75px
    height: 28px
    background-position: -0px -61px

.sprite-route-distance
    width: 40px
    height: 40px
    background-position: -183px -51px

.sprite-rss-grey
    width: 34px
    height: 35px
    background-position: -96px -148px

.sprite-rss
    width: 34px
    height: 35px
    background-position: -51px -148px

.sprite-sandglass-dark
    width: 20px
    height: 20px
    background-position: -234px -0px

.sprite-sandglass
    width: 20px
    height: 20px
    background-position: -209px -194px

.sprite-sell-locations
    width: 69px
    height: 28px
    background-position: -86px -61px

.sprite-ticket-selling
    width: 17px
    height: 25px
    background-position: -125px -194px

.sprite-twitter-grey
    width: 34px
    height: 35px
    background-position: -186px -102px

.sprite-twitter
    width: 34px
    height: 35px
    background-position: -141px -102px

.sprite-walking-distance
    width: 40px
    height: 40px
    background-position: -183px -0px

.sprite-youtube-grey
    width: 34px
    height: 35px
    background-position: -96px -102px

.sprite-youtube
    width: 34px
    height: 35px
    background-position: -51px -102px