body, html
  height: 100%
  background: $black

  overflow: hidden

h1
  font-size: 2em
h2
  font-size: 1.5em
h3
  font-size: 1.3em

$toolbar-width: 300px
$toolbar-padding: 10px
//$toolbar-space: $toolbar-width - $toolbar-padding * 2