%a.slot.bus{ href:          buses_city_path(@city, bus.perm),
             title:         I18n.t('views.buses.show_bus_in_map', bus: bus.name),
             toggled_title: I18n.t('views.buses.hide_bus_in_map', bus: bus.name),
             class:         "#{("active" if bus.is_shown?)}",
             id:            "bus-#{bus.id}" }
  .bus-name
    = bus.name
    - if bus.division
      %span.bus-variation= bus.division
    - if not bus.alert_message.blank?
      %span.alert-message{title: bus.alert_message} *