#sell-locations-list.toggleable.toggled.barsection
  .toggler
    .separator
    %h3.barsection-title Lista de puntos de carga
    =toolbar_toggler
  
  %ul
    - sell_locations.each do |sell_location|
      %li{title: sell_location.info}
        %span.address= sell_location.clean_address
        %span.name= sell_location.name