%h1 Error 404
%h2 Bondi no encontrado
%h3
  %a{href: '/'} Click aquí para volver a tu casa
%p.small
  Te debo una página de error 404 como la gente. Te autorizo para qujarte en mi Twitter que no lo uso <a href='http://twitter.com/zequez'>@zequez</a>.