%h1 Error 500
%h2 No sé qué pasó. Pero algo salió mal.
%h3 Terriblemente mal.
%h4 Bueno, en realidad no creo que sea tan malo.
%h5
  %a{href: '/'} Click aquí para volver a la seguridad de la página de inicio.