.base-button
  border-radius: 2px

  background: $blue
  +box-shadow(#{0px 0px 3px rgba($black, 0.5), inset 0px 0px 5px rgba(#000, 0.2)})
  +linear-shadow(0.1)

  cursor: pointer

  &:hover
    background-color: lighten($blue, 5%)

#buses-directions
  >#buses-directions-legend
    +clearfix
    margin-top: -$m
    margin-bottom: $m / 2

    > *
      float: left
      width: 33.3333333%
      height: 40
      text-align: center

    .direction-legend-background
      display: inline-block
      width: 40px
      height: 40px
      background-image: url(direction_icons.png)
      text-indent: -9999px

    .bus-name>.direction-legend-background
      background-position: 0px 0px
    .walking-distance>.direction-legend-background
      background-position: -40px 0px
    .route-distance>.direction-legend-background
      background-position: -80px 0px

  >#list-of-directions
    >.bus-direction
      +clearfix
      margin-bottom: $m

      border-radius: 2px

      +box-shadow(0px 0px 3px rgba($black, 0.5))

      font-size: 1.5em
      text-align: center
      line-height: 2em

      > *
        +box-sizing(border-box)
        float: left
        width: 33.33333333%

        background: $blue
        +box-shadow(inset 0px 0px 5px rgba(#000, 0.2))
        +linear-shadow(0.1)

      &:hover
        > *
          background-color: lighten($blue, 5%)

      .bus-name
        border-radius: 2px 0px 0px 2px

      .walking-distance


      .route-distance
        border-radius: 0px 2px 2px 0px

  >#add-remove-buses-directions
    margin-top: $m
    text-align: center
    
    span
      @extend .base-button
      display: inline-block
      //padding: 0px $m

      width: 16.666%

      font-size: 1.5em
      line-height: 1.5em

      &.plus
        border-radius: 2px 0px 0px 2px

      &.minus
        border-radius: 0px 2px 2px 0px

      &.hidden
        display: none

      &.solo
        border-radius: 2px
